<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184959061243-o0mkqoqobhm6080uu35n6frq7r1p67r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184959061243-o0mkqoqobhm6080uu35n6frq7r1p67r6</string>
	<key>API_KEY</key>
	<string>AIzaSyDtXpOzi0YxjoEJkLW8Odl10vuBd-YMDfs</string>
	<key>GCM_SENDER_ID</key>
	<string>184959061243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scrumboard</string>
	<key>PROJECT_ID</key>
	<string>h4-scrumboard-827ed</string>
	<key>STORAGE_BUCKET</key>
	<string>h4-scrumboard-827ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184959061243:ios:facf68bc7057f81f60345e</string>
	<key>DATABASE_URL</key>
	<string>https://h4-scrumboard-827ed-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>